.Color {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Color a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.Color a:hover {
  text-decoration: underline;
}
